<div class="container p-2" [@SlideInFromLeft]>
  <div class="card shadow">
    <div class="card-header text-responsive">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Previous Courses
    </div>
    <div class="card-body pt-0">
      <div class="table-responsive">
        <div
          *ngFor="let semPreviousCourses of this.prevCourses; let i = index;">
          <div class="card-header p-0">
            Semester-{{ i + 1}}
          </div>
          <div class="card-body p-0">
            <table class="table table-bordered">
              <thead class="bg-light">
              <tr>
                <th>Courses</th>
                <th>Course-Code</th>
              </tr>
              </thead>
              <tbody>
              <tr
                *ngFor="let semesterCourse of semPreviousCourses;">
                <td><a (click)="OnCourseClicked()">{{semesterCourse.SUB_NM}}</a></td>
                <td><a (click)="OnCourseClicked()">{{semesterCourse.SUB_CODE}}</a></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
