<div class="card shadow" [@SlideInFromLeft]>
  <div class="card-header">Course Material</div>
  <div class="card-body">
    <div class="table table-responsive">
      <div>
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>File Name</th>
            <th class="text-center">Download</th>
          </tr>
          </thead>
          <tbody class="custom-hover">
          <tr
            *ngFor="let courseMaterial of this.courseMaterial;">
            <td>{{courseMaterial.courseMaterilTitle}}</td>
            <td class="text-center">
<!--              Added by Yousaf to get file path on relative download button click-->
<!--              <button class="download" #downloadFile value="{{courseMaterial.fileName}}" (click)="DownLoadFiles(downloadFile)">-->
              <button class="download" #downloadFile value="{{courseMaterial.fileName}}" (click)="OnCourseMaterialClicked(courseMaterial)">
                <i class="fa fa-download"></i></button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
