<mat-card>
  <mat-card-title class="p-3">
    Time-Table Management
  </mat-card-title>

  <mat-card-content class="p-3">

    <!--<div class="row">
      <div class="col-md-5 col-sm-12">
        <mat-form-field class="w-100 example-full-width">
          <mat-label>Teacher ID</mat-label>
          <input [(ngModel)]="teacherID" matInput placeholder="0-0-0" >
        </mat-form-field>
      </div>

    </div>
    <br>-->
    <form [formGroup]="createForm">

      <div class="row">
        <div class="col-md-5 col-sm-12">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Semester No</mat-label>
            <select [(ngModel)]="selectedTerm" (ngModelChange)="onTermChange()" matNativeControl required formControlName="term">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>0</option>
            </select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 col-sm-12">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Teacher</mat-label>
            <select matNativeControl required formControlName="teacher">
              <option [value]="teacher.NM" *ngFor="let teacher of teachers">{{teacher.NM}}</option>
            </select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 col-sm-12">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Courses</mat-label>
            <select matNativeControl required formControlName="course">
              <option [value]="course.SUB_NM" *ngFor="let course of courses">{{course.SUB_NM}}</option>
            </select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 col-sm-12">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Section</mat-label>
            <select matNativeControl required formControlName="section">
              <option [value]="section.SECTION" *ngFor="let section of sections">{{section.SECTION}}</option>
            </select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 col-sm-12">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Start Time</mat-label>
            <select matNativeControl required formControlName="st_time">
              <option value="9:00">08:00:00</option>
              <option value="9:00">09:30:00</option>
              <option value="9:00">11:00:00</option>
              <option value="9:00">12:30:00</option>
              <option value="9:00">02:00:00</option>
              <option value="9:00">04:00:00</option>
              <option value="9:00">05:30:00</option>
              <option value="9:00">07:00:00</option>
            </select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 col-sm-12">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Room</mat-label>
            <select matNativeControl required formControlName="room">
              <option [value]="room.R_NM" *ngFor="let room of rooms">{{room.R_NM}}</option>
            </select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 col-sm-12">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Day</mat-label>
            <select matNativeControl required formControlName="day">
              <option>MONDAY</option>
              <option>TUESDAY</option>
              <option>WEDNESDAY</option>
              <option>THURSDAY</option>
              <option>FRIDAY</option>
            </select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 col-sm-12">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Morning/Evening</mat-label>
            <select matNativeControl required formControlName="mrev">
              <option value="M">Morning</option>
              <option value="E">Evening</option>
            </select>
          </mat-form-field>
        </div>
      </div>
    </form>

  </mat-card-content>

  <mat-card-actions class="p-3" align="end">
    <button (click)="onCreateClass()" mat-raised-button color="primary">Add</button>
  </mat-card-actions>
</mat-card>
<!--
<div class="main-card mb-3 card" [@SlideInFromLeft]>
  <div class="card-body" style="overflow: hidden; overflow-x: scroll"><h5 class="card-title">Time
    Table</h5>
    <table class="mb-0 table table-bordered">
      <thead class="bg-light">
      <tr>
        <th>#</th>
        <th>8:00-9:30</th>
        <th>9:30-11:00</th>
        <th>11:00-12:30</th>
        <th>12:30-2:00</th>
        <th>4:00-5:30</th>
        <th>5:30-7:00</th>
        <th>7:00-8:30</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row " class="fix-size">Monday</th>
        <td *ngFor="let d of finalData.timetable[0]">
          <div class="container-fluid text-center pb-2 pt-2" *ngIf="d.isLec">
            <ul class="time-table-column">
              <li><b>{{d.SUB_NM}}</b></li>
              <li>{{d.FM_NAME}}</li>
              <li>{{d.R_NAME}}</li>
            </ul>
          </div>
        </td>
      </tr>
      <tr>
        <th scope="row " class="fix-size">Tuesday</th>
        <td *ngFor="let d of finalData.timetable[1]">
          <div class="container-fluid text-center pb-2 pt-2" *ngIf="d.isLec">
            <ul class="time-table-column">
              <li><b>{{d.SUB_NM}}</b></li>
              <li>{{d.FM_NAME}}</li>
              <li>{{d.R_NAME}}</li>
            </ul>
          </div>
        </td>

      </tr>
      <tr>
        <th scope="row " class="fix-size">Wednesday</th>
        <td *ngFor="let d of finalData.timetable[2]">
          <div class="container-fluid text-center pb-2 pt-2" *ngIf="d.isLec">
            <ul class="time-table-column">
              <li><b>{{d.SUB_NM}}</b></li>
              <li>{{d.FM_NAME}}</li>
              <li>{{d.R_NAME}}</li>
            </ul>
            &lt;!&ndash;*){{d.FM_NAME}} <br>
            *){{d.R_NAME}}<br>
            *){{d.SUB_NM}}&ndash;&gt;
          </div>
        </td>

      </tr>
      <tr>
        <th scope="row " class="fix-size">Thursday</th>
        <td *ngFor="let d of finalData.timetable[3]">
          <div class="container-fluid text-center pb-2 pt-2" *ngIf="d.isLec">
            <ul class="time-table-column">
              <li><b>{{d.SUB_NM}}</b></li>
              <li>{{d.FM_NAME}}</li>
              <li>{{d.R_NAME}}</li>
            </ul>
          </div>
        </td>

      </tr>
      <tr>
        <th scope="row " class="fix-size">Friday</th>
        <td *ngFor="let d of finalData.timetable[4]">
          <div class="container-fluid text-center pb-2 pt-2" *ngIf="d.isLec">
            <ul class="time-table-column">
              <li><b>{{d.SUB_NM}}</b></li>
              <li>{{d.FM_NAME}}</li>
              <li>{{d.R_NAME}}</li>
            </ul>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
-->
