<div class="card shadow">
  <div class="card-header">Assignments</div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>Name</th>
          <th>Due Date</th>
          <th>Assignment Material</th>
          <th>Submission Status</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let assignment of this.assignments;">
          <td style="min-width: 100px;">{{assignment.assignmentName}}</td>
          <td style="min-width: 100px;">{{assignment.dueDate}}</td>
          <td></td>
          <td>
            <input type="file" id="file" multiple (change)="getFileDetails($event)">
            <a class="btn btn-primary btn-sm text-white" (click)="uploadFiles()">
              <i class="fa fa-upload"></i>
              Upload
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
